<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="./register">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./register">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./register">Profile</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="./register">Vendor Sheet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./register">Contact Us</a>
          </li>
    </ul>
  </nav> 
  <div class="container">
      <ul class="nav nav-tabs">
        <li><a href="./register">Personal Information</a></li>
        <li ><a  href="./edu">Educational Information</a></li>
        <li class="active"><a  href="./immigration">Immigration Information</a></li>
        <li><a data-toggle="tab" href="#menu3">Work Experience</a></li>
      </ul>
      <table>
          <tr>
          <label>Visa Status</label><br>
          <input class="form-control" id="ex3" type="text">
        </tr>

        
          <tr>
            <label>SSN</label><br>
            <input class="form-control" id="ex3" type="text">
          </tr>
          
         <tr>
              <label>Passport Number</label><br>
              <input class="form-control" id="ex3" type="text">
           </tr><br>

           <tr>
              <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"
              accept="image/*" auto="auto"></p-fileUpload>
              
           </tr>

           </table>
           <a class="nav-link" href="./edu">Back</a>
     
              <p align="right">
                 
                      <a class="nav-link" href="./immigration">Save and Continue</a>
                  
              
              </p>





      <style>
          .footer {
             position: fixed;
             left: 0;
             bottom: 0;
             width: 100%;
             background-color: white;
             color: blue;
             text-align: center;
          }
          </style>
          <div class="footer">
              <p>Add copyright policy</p>
            </div>